*, html {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 12px;
}

body {
    background-image: url(image/background_porto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    background-color: rgb(5, 216, 216);
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Open Sans', sans-serif;
}

nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav>ul>li {
    float: left;
}

nav>ul>li>a {
    display: inline-block;
    text-decoration: none;
    color: rgb(234, 234, 231);
    padding: 10px 16px;
    font-size: 12px;
    font-size: 1rem;
    background: 
    -webkit-linear-gradient(
        left,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(72, 0, 255, 1)
    );
    background: 
    linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(72, 0, 255, 1)
    );
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: 350ms;
}

nav>ul>li>a:hover {
    background-size: 100% 2px;
    color: black;
    transition: 550ms;
}

.image {
    border: 3px solid black;
    background-color: black;
    height: 150px;
    width: 150px;
    display: block;
    margin: auto;
    margin-top: 59px;
    border-radius: 75px;
    background-image: url(image/me.jpg);
    background-size: cover;
}

.header {
    text-shadow: 2px 3px 4px rgb(68, 68, 68);
    color: rgb(4, 120, 208);
    font-size: 15.6px;
    font-size: 2rem;
    margin-top: 25px;
    text-align: center;
    font-weight: 700;
    font-family: 'Libre Baskerville', serif;
}

.first_line {
    color: rgb(18, 18, 18);
    margin: auto;
    text-align: center;
    width: 50%;
    margin-top: 10px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 14.399px;
    font-size: 1.2rem;
    font-weight: 250;
    line-height: 20px;
}