*,html {
    margin: 0;
    padding: 0;
}

#navbarNav>ul>li>a {
    display: inline-block;
    text-decoration: none;
    color: rgb(105, 198, 244);
    padding: 10px 16px;
    font-size: 12px;
    font-size: 1rem;
    background: 
    -webkit-linear-gradient(
        left,
        rgba(255, 0, 0, 1),
        rgb(217, 255, 0),
        rgb(9, 255, 0)
    );
    background: 
    linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgb(238, 255, 0),
        rgb(81, 255, 0)
    );
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: 350ms;
}

#navbarNav>ul>li>a:hover {
    background-size: 100% 2px;
    color: white;
    transition: 550ms;
}

.jumbotron {
    padding-top: 2.5rem;
    background-color: rgba(1, 1, 1, 0.89)
}

#contact {
    background-color: #000b76;
}

.rounded-circle {
    border: 3px solid rgba(248, 248, 248, 0.749);
}

.row p {
    font-size: 1.5vmax;
}

.card {
    margin: 10px;
    width: 20vw;
    height: 15vh;
    transform: skewx(0);
    transition: 0.3s ease;
}

.card:hover {
    transform: skewX(deg);
}

.card-body > p {
    font-size: 12px;
}

.footer p {
    font-size: 1rem;
}

svg {
    background-color: transparent;
}