*,html {
    margin: 0;
    padding: 0;
}

#navbarNav ul li a {
    display: inline-block;
    text-decoration: none;
    color: rgb(105, 198, 244);
    padding: 10px 16px;
    font-size: 12px;
    font-size: 16px;
    font-size: 16px;
    font-size: 1rem;
    background: 
    -webkit-linear-gradient(
        left,
        rgba(255, 0, 0, 1),
        rgb(217, 255, 0),
        rgb(9, 255, 0)
    );
    background: 
    -webkit-linear-gradient(
        left,
        rgba(255, 0, 0, 1),
        rgb(238, 255, 0),
        rgb(81, 255, 0)
    );
    background: 
    linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgb(238, 255, 0),
        rgb(81, 255, 0)
    );
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    -webkit-transition: 350ms;
    transition: 350ms;
}

.navbar a {
    text-decoration: none;
}

#navbarNav>ul>li>a:hover {
    background-size: 100% 2px;
    color: white;
    -webkit-transition: 550ms;
    transition: 550ms;
}

.jumbotron {
    padding-top: 50px;
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 200px 1fr;
        grid-template-columns: 200px 1fr;
    -ms-grid-rows: 250px 200px;
        grid-template-rows: 250px 200px;
    grid-template-areas: 
                        "foto job"
                        "wave wave";
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    background-color: rgb(1, 1, 1);
    box-sizing: border-box;
    -ms-grid-row-align: end;
        align-items: end;
}

.jumbotron > img{
    grid-area: foto;
    margin-left: 20px;
}

.wave {
    grid-area: wave;
    -ms-grid-column: 100%;
        grid-column: 100%;
}

.my-job {
    margin-bottom: 60px;
    font-size: 5vm;
    font-size: 5vmin;
    grid-area: job;
    width: 80vw;
    display: -ms-grid;
    display: grid;
    grid-template-areas: 
                        "hello hello"
                        "span span";
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
}

.my-job > h1 {
    grid-area: hello;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white!important;
}

.my-job .text {
    margin-left: 10px;
    grid-area: span;
    text-transform: uppercase;
    position: relative;
    color: rgb(4, 0, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}

.first-text {
    margin-left: 40px!important;
    grid-area: span;
    color: white!important;
    
}

.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 104%;
    background-color: rgb(0, 0, 0);
    border-left: 2px solid #fcfcfc;
    -webkit-animation: animate 4s steps(16) infinite;
            animation: animate 4s steps(16) infinite;
}

#contact {
    background-color: #000b76;
}

.rounded-circle {
    border: 3px solid rgba(248, 248, 248, 0.749);
}

.row p {
    font-size: 1.5vmax;
}

.card {
    border: none !important;
    margin: 10px;
    width: 20vw;
    height: 15vh;
}

.card a {
    text-decoration: none;
}

.card-body > p {
    font-size: 1.5vw;
}

#instagram a {
    text-decoration: none;
    color: white;
}

a .insta {
    margin-top: 25px;
    font-weight: 400;
    font-size: 1.5vw;
}

.sosmed,.insta {
    margin-left: 10px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
                -ms-grid-row-align: baseline;
            align-items: baseline;
}

.footer p {
    font-size: 16px;
    font-size: 16px;
    font-size: 1rem;
}


@-webkit-keyframes animate{
    40%, 60%{
        left: calc(100% + 3px);
    }
    100%{
        left: 0%;
    }
}


@keyframes animate{
    40%, 60%{
        left: calc(100% + 3px);
    }
    100%{
        left: 0%;
    }
}

@media (max-width: 575px) {
    .my-job {
        font-size: 2.8vmin;
    }
}